.advantages {
  margin-bottom: 100px;
  background-color: $color-ghost-white;
}

.advantages h2 {
  margin-left: 8px;
  margin-bottom: 42px;
  font-family: $ff-secondary;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-align: center;

  @media (max-width: $vp-1199) {
    margin-left: 0;
    margin-right: 22px;
    margin-bottom: 36px;
    font-size: 42px;
  }

  @media (max-width: $vp-767) {
    margin-left: 38px;
    margin-right: 15px;
    margin-bottom: 43px;
    font-size: 32px;
    text-align: left;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 33% 23% 33%;
  padding: 0;
  margin-left: 63px;
  margin-right: 59px;
  justify-content: space-between;
  row-gap: 138px;
  list-style-type: none;

  @media (max-width: $vp-1199) {
    grid-template-columns: 45.9% 48%;
    row-gap: 43px;
    margin: 0;
  }

  @media (max-width: $vp-767) {
    display: block;
  }
}

.advantages__item {
  display: flex;
  position: relative;

  @media (max-width: $vp-767) {
    display: block;
    text-align: center;
  }

  @media (max-width: $vp-767) {
    padding-left: 43px;
    padding-right: 43px;
    margin-bottom: 39px;
  }
}

.advantages__item:nth-child(n+3)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: -77px;
  background-color: rgba($color-crimson, 0.2);

  @media (max-width: $vp-1199) {
    display: none;
  }
}

.advantages__item h3 {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 22px;
  font-weight: 700;

  @media (max-width: $vp-1199) {
    font-size: 20px;
  }
}

.advantages__item p {
  margin-top: 0;

  @media (max-width: $vp-1199) {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.4;
  }
}

.advantages__value-wrapper {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  color: $color-persian-blue;

  @media (max-width: $vp-1199) {
    margin-top: 4px;
  }

  @media (max-width: $vp-767) {
    margin: 0;
    margin-bottom: 6px;
  }
}

.advantages__item--square .advantages__value-wrapper,
.advantages__item--comfort .advantages__value-wrapper {
  margin-left: 17px;

  @media (max-width: $vp-1199) {
    margin-left: 0;
  }
}

.advantages__value {
  font-size: 71px;
  font-weight: 700;
  line-height: 0.85;
  background-color: $color-tory-blue;
  background-image: linear-gradient(125deg, $color-crimson, $color-tory-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: $vp-1199) {
    font-size: 58px;
  }
}

.advantages__unit {
  font-size: 14px;
}

.advantages__item:nth-child(3n) {
  grid-column: 2;
  grid-row: 1 / 3;
  display: block;
  margin-top: 6px;
  padding: 57px 30px 30px;
  aspect-ratio: 1 / 1.28;
  background-color: $color-resolution-blue;
  color: $color-default-white;
  text-align: center;

  &::before {
    display: none;
  }

  @media (max-width: $vp-1199) {
    max-width: 442px;
    grid-row: 2;
    grid-column: 1 / 3;
    margin-top: 0;
    padding: 31px 118px 23px;
    aspect-ratio: 1.85 / 1;
    justify-self: center;
  }

  @media (max-width: $vp-767) {
    max-width: 100%;
    margin-bottom: 46px;
    padding: 44px 52px;
    aspect-ratio: auto;
  }
}

.advantages__item:nth-child(3n) .advantages__value-wrapper {
  display: block;
  margin-right: 0;
  margin-bottom: 35px;
  color: $color-default-white;

  @media (max-width: $vp-1199) {
    margin-bottom: 17px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 10px;
  }
}

.advantages__item:nth-child(3n) .advantages__value {
  margin-right: 8px;
  font-size: 74px;
  font-weight: 700;
  line-height: 0.95;
  background-color: $color-default-white;
  background-image: none;

  @media (max-width: $vp-1199) {
    display: block;
  }

  @media (max-width: $vp-767) {
    line-height: 0.9;
  }
}

.advantages__item:nth-child(3n) .advantages__unit {
  font-size: 26px;

  @media (max-width: $vp-1199) {
    font-size: 22px;
  }
}
