.contacts h2 {
  margin-top: 49px;
  margin-bottom: 13px;
  font-family: $ff-secondary;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 0.03em;

  @media (max-width: $vp-1199) {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 42px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 29px;
    font-size: 32px;
  }
}

.contacts__list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    top: 22px;
    bottom: 20px;
    left: 50%;
    background-color: $color-light-slate-grey;
  }

  @media (max-width: $vp-1199) {
    gap: 94px;
  }

  @media (max-width: $vp-767) {
    display: block;

    &::before {
      display: none;
    }
  }
}

.contacts__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contacts__item h3 {
  margin-bottom: 4px;
  font-size: 16px;

  @media (max-width: $vp-1199) {
    margin-bottom: 6px;
    font-size: 20px;
  }

  @media (max-width: $vp-767) {
    margin-top: 0;
  }
}

.contacts__item p {
  margin-top: 0;
  font-size: 14px;

  @media (max-width: $vp-1199) {
    font-size: 18px;
  }
}

.contacts__item a {
  font-size: 14px;

  @include hover-focus {
    opacity: 0.8;
  }

  @media (max-width: $vp-1199) {
    font-size: 18px;
  }

  @media (max-width: $vp-767) {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 21px;
  }
}
