.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 27px;

  @media (max-width: $vp-1199) {
    column-gap: 56px;
    row-gap: 28px;
  }

  @media (max-width: $vp-767) {
    display: block;
  }
}

.form input {
  padding: 5px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-light-slate-grey;
  color: $color-torch-red;
  font-size: 14px;
  line-height: 1.17;

  &::placeholder {
    font-size: 14px;
    color: $color-default-white;
  }

  @media (max-width: $vp-767) {
    display: block;
    width: 100%;
    margin-bottom: 33px;
  }
}
