.nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  list-style: none;

  @media (max-width: $vp-767) {
    display: block;
  }
}

.nav__item {
  break-inside: avoid;


  @media (max-width: $vp-767) {
    margin-bottom: 16px;
  }
}

.nav__link {
  margin-left: 20px;
  margin-right: 20px;
  color: inherit;
  font-size: 14px;

  @media (max-width: $vp-1199) {
    margin-left: 15px;
    margin-right: 15px;
  }

  @media (max-width: $vp-767) {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
  }
}
