.review {
  text-align: center;
}

.review h2 {
  margin-left: 8px;
  margin-bottom: 29px;
  font-family: $ff-secondary;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 0.03em;

  @media (max-width: $vp-1199) {
    margin-left: 0;
    margin-right: 2px;
    margin-bottom: 34px;
    font-size: 42px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 36px;
    font-size: 32px;
  }
}

.review__swiper-wrapper {
  position: relative;
  max-width: 48.3%;
  margin: 0 auto;
  box-shadow: 0 0 40px rgba($color-resolution-blue, 0.2);

  @media (max-width: $vp-1199) {
    max-width: 83.6%;
  }

  @media (max-width: $vp-767) {
    max-width: 100%;
  }
}

.review__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.review__item {
  position: relative;
  padding: 53px 62px 40px 170px;
  background-color: $color-resolution-blue;
  color: $color-default-white;
  text-align: left;

  @media (max-width: $vp-1199) {
    padding: 54px 65px 40px 170px;
  }

  @media (max-width: $vp-767) {
    padding: 49px 25px 16px;
  }
}

.review__item img {
  border-radius: 50%;
  position: absolute;
  top: 62px;
  left: 62px;

  @media (max-width: $vp-767) {
    width: 68px;
    height: 68px;
    top: 41px;
    left: 41px;
  }
}

.review__item h3 {
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 20px;

  @media (max-width: $vp-767) {
    min-height: 68px;
    margin-left: 99px;
    margin-bottom: 7px;
    line-height: 1.3;
  }
}

.review__item p {
  margin-top: 0;
  line-height: 1.4;

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.review__button-prev::after,
.review__button-next::after {
  font-size: 30px;
  color: $color-dark-gray;

  @media (max-width: $vp-767) {
    font-size: 20px;
  }
}

.review__button-prev {
  left: -62px;

  @media (max-width: $vp-767) {
    left: -36px;
  }
}

.review__button-next {
  right: -62px;

  @media (max-width: $vp-767) {
    right: -36px;
  }
}

.review__button-prev,
.review__button-next {
  &:hover::after {
    font-size: 40px;
    transition: font-size $trans-modal;
  }
}

.no-js .review__list {
  display: grid;
  gap: 10px;
}

.no-js .review__button-prev,
.no-js .review__button-next {
  display: none;
}
