.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;

  @media (max-width: $vp-1199) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $vp-767) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 0;

    @media (max-width: $vp-1199) {
      margin-bottom: 17px;
      padding-top: 36px;
      align-items: flex-end;
    }

    @media (max-width: $vp-767) {
      padding-top: 15px;
      align-items: flex-start;
    }
  }

  &--about {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 10px;

    @media (max-width: $vp-1199) {
      padding-top: 101px;
      padding-bottom: 17px;
      flex-direction: column;
      text-align: center;
    }

    @media (max-width: $vp-767) {
      padding: 64px 0 70px;
      text-align: left;
    }
  }

  &--membership {
    padding-top: 119px;
    padding-bottom: 104px;
    text-align: center;

    @media (max-width: $vp-1199) {
      padding: 101px 163px 58px;
    }

    @media (max-width: $vp-767) {
      padding-top: 64px;
      padding-bottom: 36px;
    }
  }

  &--promo {
    padding-top: 120px;
    display: flex;

    @media (max-width: $vp-1199) {
      padding-top: 100px;
    }

    @media (max-width: $vp-767) {
      display: block;
      padding-top: 70px;
    }
  }

  &--trainers {
    padding-top: 38px;
    padding-bottom: 76px;

    @media (max-width: $vp-1199) {
      padding-top: 34px;
      padding-bottom: 57px;
    }

    @media (max-width: $vp-767) {
      padding-bottom: 55px;
    }
  }

  &--advantages {
    padding-top: 93px;
    padding-bottom: 55px;

    @media (max-width: $vp-1199) {
      padding-top: 50px;
      padding-bottom: 93px;
    }

    @media (max-width: $vp-767) {
      padding-top: 33px;
      padding-left: 0;
      padding-bottom: 23px;
      padding-right: 0;
    }
  }

  &--discount {
    padding-top: 92px;

    @media (max-width: $vp-1199) {
      padding-top: 50px;
    }

    @media (max-width: $vp-767) {
      padding-top: 34px;
    }
  }

  &--review {
    padding-top: 48px;
    padding-bottom: 121px;

    @media (max-width: $vp-1199) {
      padding-top: 34px;
      padding-bottom: 99px;
    }

    @media (max-width: $vp-767) {
      padding-top: 2px;
      padding-left: 47px;
      padding-bottom: 71px;
      padding-right: 47px;
    }
  }

  &--section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: $vp-1199) {
      display: block;
      padding: 0;
    }

    @media (max-width: $vp-767) {
      padding: 0;
    }
  }

  &--free-lesson {
    padding-left: 0;
    padding-bottom: 50px;
    padding-right: 29%;

    @media (max-width: $vp-1199) {
      padding-top: 55px;
      padding-left: 133px;
      padding-bottom: 68px;
      padding-right: 160px;
    }

    @media (max-width: $vp-767) {
      padding-top: 59px;
    }
  }

  &--contacts {
    padding-left: 21%;
    padding-bottom: 50px;
    padding-right: 0;

    @media (max-width: $vp-1199) {
      padding-top: 55px;
      padding-left: 133px;
      padding-bottom: 43px;
      padding-right: 104px;
    }

    @media (max-width: $vp-767) {
      padding-top: 59px;
    }
  }

  &--footer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 26px;

    @media (max-width: $vp-1199) {
      padding-top: 42px;
      padding-right: 37px;
      padding-bottom: 36px;
    }

    @media (max-width: $vp-767) {
      flex-direction: column;
      margin-bottom: 39px;
    }
  }
}
