.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: $vp-1199) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $vp-767) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 0;

    @media (max-width: $vp-1199) {
      margin-bottom: 17px;
      padding-top: 36px;
      align-items: flex-end;
    }

    @media (max-width: $vp-767) {
      padding-top: 15px;
      align-items: flex-start;
    }
  }

  &--about {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 10px;

    @media (max-width: $vp-1199) {
      padding-top: 101px;
      padding-bottom: 17px;
      flex-direction: column;
      text-align: center;
    }

    @media (max-width: $vp-767) {
      padding: 64px 0 70px;
      text-align: left;
    }
  }

  &--membership {
    padding-top: 119px;
    padding-bottom: 104px;
    text-align: center;

    @media (max-width: $vp-1199) {
      padding: 101px 163px 58px;
    }

    @media (max-width: $vp-767) {
      padding-top: 64px;
    }
  }
}
