// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-black-russian:               #030a1a;
$color-dark-cerulean:               #003d85;
$color-smalt:                       #00359f;
$color-cobalt:                      #003eb7;
$color-dark-cerulean-2:             #14367a;
$color-tory-blue:                   #0041ca;
$color-sapphire:                    #102654;
$color-resolution-blue:             #1c3374;
$color-persian-blue:                #2e35ac;
$color-egyptian-blue:               #103aae;
$color-chambray:                    #495a7d;
$color-torch-red:                   #ed0233;
$color-crimson:                     #d10a42;
$color-venetian-red:                #b80027;
$color-light-slate-grey:            #74819c;
$color-dark-gray:                   #afafaf;
$color-grey:                        #787878;
$color-spindle:                     #b6bdcc;
$color-whisper:                     #e8e8e8;
$color-ghost-white:                 #f8f9fc;


// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;
$lh-default:                        1.5;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;


$ff-placeholder:                    "Roboto Condensed", "Arial Narrow", sans-serif;
$ff-secondary:                      "Alumni Sans", "Arial Narrow", sans-serif;


// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-767:                            767px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1199:                           1199px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
